.place__image {
    width: 100%;
    display: block;
    object-fit: contain;
}
@media screen and (max-width:650px) {
    .place__image {
        width: 340px;
    }
}
@media screen and (max-width:450px) {
    .place__image {
        width: 240px;
    }
}