.footer {
    margin: 0 48px 0 48px;
    padding-bottom: 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width:768px) {
    .footer {
        margin: 0 24px 0 24px;
        padding-bottom: 24px;
    }
}
@media screen and (max-width:535px) {
    .footer {
        flex-wrap: wrap;
        gap: 20px;
    }
}
@media screen and (max-width:320px) {
    .footer {
        flex-direction: column;
        margin-left: 16px;
        margin-right: 0;
    }
}